*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: helvetica,'Trebuchet MS', sans-serif;
    background: white url(../img/bg.png);
    margin: 15px;
}

#Container{
    background: url(../img/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1190px;

}

#Topo{
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}
#Logo{
    width: 100%;
    height: 250px;
    background: url(../img/topo-imagem-principal.png) no-repeat ;
    position: absolute;
    top: 0;
    left: 0;
}

.logoimg a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../img/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
} 
#Menu{
    width: 450px;
    height: 250px;
    background: url(../img/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

#Conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais{
    float: left;
    line-height: 2.1em;
}

a.reserva{
    text-transform: uppercase;
    background:#a29750 ;
    color: #fff5b0 ;
    padding: 5px 10px;
    float: right;
}
#menu-vertical{
    margin-top: 15px;

}

ul{
    list-style: none;
}

ul#navegacao{
    float: left;   
}

ul#navegacao a{
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;  
}

ul#navegacao a:hover{
    background: #fdf6be;
}
.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

#Area-principal{
    float: left;
    width: 50%;
    background: url(../img/bg-area-principal.png) top left repeat-x;
    padding: 15px 0;
}

#Area-Lateral{
 float: right;
 width: 50%;
 background: url(../img/bg-area-lateral.png) top left repeat-x;
 padding: 20px 0;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}

#Rodape{
    clear: both;
    padding: 16px;
    background: white url(../img/bg-rodape.png) repeat-x top;
    color: #7d7640;
    text-indent: 35%;
}

h2{
    padding: 5px;
    color: #7d7640;
    font-size: 1.1em;
}

p{
    font-size: 1em;
    margin-bottom: 10px;
}

#lista-beneficio li{
    padding: 8px;
    border-bottom: 1px solid #f3efcd;
    height: 6em;

}

#lista-beneficio li a img{
    float: left;
    margin-right: 8px;
}
#lista-beneficio li a p{
    font-size: 0.8em;
    color: black;

}
#lista-beneficio li a h3{
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(../img/ornamento.png) no-repeat center right;
}
#lista-beneficio li:hover{
    background: #f6f3d6;
    cursor: pointer;
}